* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lang {
  margin-right: 7px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.lang select {
  text-align: right;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding-right: 24px;
  margin-right: -20px;
}
.lang select option {
  color: black;
  background-color: transparent;
  text-align: right;
}
.lang select:hover {
  cursor: pointer;
}

.nav_main_heightt {
  height: 100vh;
}

.nav_main {
  z-index: 100;
  position: fixed;
  width: 96%;
  top: 10px;
  left: 50%;
  border-radius: 50px;
  transform: translateX(-50%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0));
}
.nav_main .navButton {
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-family: "Lalezar", "sans-serif";
}
.nav_main .navbar {
  border-radius: 40px;
  font-size: 22px;
}
.nav_main .navbar .navLogo {
  color: var(--primary);
  font-family: "Reem Kufi Fun", "sans-serif";
  font-size: 30px;
  border: 1px solid green;
  border-radius: 10px;
  padding: 0px 20px;
  margin-left: 50px;
}
.nav_main .navbar .nav-link {
  padding: 5px;
  white-space: nowrap;
  position: relative;
  color: var(--gold_light);
  font-weight: 300;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  text-align: right;
  display: flex;
}
.nav_main .navbar .nav-link:hover {
  color: var(--gold_med);
}
.nav_main .navbar .nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--gold_med);
  transition: width 0.3s ease;
}
.nav_main .navbar .nav-link:hover::after {
  width: 70%;
}
.nav_main .navbar .nav-link.active {
  color: var(--gold_med);
}
.nav_main .navbar .nav-link.active::after {
  width: 100%;
  background-color: var(--gold_med);
}
.nav_main .navbar .hamburger-react {
  color: var(--primary);
}
.nav_main .navbarhide {
  display: none;
}

@media (max-width: 768px) {
  .nav_main {
    overflow: hidden;
    width: 100%;
  }
  .nav_main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
  }
  .nav_main .navButton {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav_main .navButton .line {
    display: none;
  }
  .nav_main .container {
    flex-direction: row-reverse;
  }
  .nav_main .navbar {
    font-size: 20px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .nav_main .navbar .navLogo {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .lang {
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 128, 0, 0.623);
    margin-right: 20px;
    margin-top: -4px;
    padding: 0 10px;
  }
  .lang select {
    padding-right: 24px;
    margin-right: -20px;
  }
  .lang:hover {
    background-color: rgba(0, 128, 0, 0.424);
  }
  .hamburger-react {
    display: none;
  }
  .navbar .navbar-collapse .navButton {
    color: rgba(0, 128, 0, 0.625);
    display: flex !important;
    align-items: center;
  }
  .navbar .space {
    display: none;
  }
}/*# sourceMappingURL=NavBar.css.map */