.nav_main {
  position: absolute;
  width: 100%;
  background-color:;
  .navbar {
    color: white;
  }
//   .navButton{
//     background-color: green !important;
//   }
//   .navLogo{
//     background-color: green     ;
//   }
}
