* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lang {
  // width: 95%;
  // padding: 5px;
  // border: 1px solid red;
margin-right: 7px;
  display: flex;
  justify-content: right;
  align-items: center;
  select {
    width: 10px;
    appearance: none;
// text-align: right;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding-right: 24px;
margin-right: -20px;
appearance: "none";

    option {

      color: black;
      background-color: transparent;
      text-align: right;
    }
    &:hover{
      cursor: pointer;
    }
  }

}
.nav_main_heightt {
  height: 100vh;
  
}
.nav_main {
  z-index: 100;
  position: fixed;
  width: 96%;
  // height: 100vh;
  // top: 10px;
  left: 50%;
  border-radius: 50px;
  transform: translateX(-50%);
  // background-color: rgba(0, 128, 0, 0.212);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.05),
 
  );
  .navButton {

    width: 70%;
    display: flex;
    justify-content: space-around;
    font-family: "Lalezar", "sans-serif";
  }

  .navbar {

    border-radius: 40px;
    font-size: 22px;
    .navLogo {
      color: white;
      font-family: "Reem Kufi Fun", "sans-serif";
      font-size: 30px;
      border: 1px solid  white;
    
      border-radius: 10px;
      padding: 0px 20px;
      margin-left: 50px;
    }
    .nav-link {
      // border: 1px solid red;
      padding: 5px;
      white-space: nowrap;
      position: relative;
      color: var(--gold_light);
      font-weight: 300;
      text-decoration: none;
      padding: 10px 15px;
      transition: color 0.3s ease, border-bottom 0.3s ease;
      border-bottom: 2px solid transparent;
      text-align: right;
      display: flex;
    }

    .nav-link:hover {
      color: var(--gold_med);
    }

    .nav-link::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--gold_med);
      transition: width 0.3s ease;
    }

    .nav-link:hover::after {
      width: 70%;
    }

    .nav-link.active {
      color: var(--gold_med);
    }

    .nav-link.active::after {
      width: 100%;
      background-color: var(--gold_med);
    }
    .hamburger-react {
      color:  white;
    }
   
  }
  .navbarhide {
    display: none;
    // height: 100vh;
  }
}
.nav_main_color{
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .nav_main {
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: inherit;
      // backdrop-filter: blur(20px);
      z-index: -1;
    }
    .navButton {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      .line{
        display: none;
      }
    }
    .container {
      flex-direction: row-reverse;
    }
    .navbar {
      font-size: 20px;
      // display: block;
      backdrop-filter: blur(20px);
      // background-color: rgba(255, 255, 255, 0.467);
      .navLogo{
      margin-left: 0px;

      }
     
    }
  }
}
@media (min-width: 992px) {
  .lang {
    height: 40px;
    border-radius: 20px;
    // background-color: rgba(0, 128, 0, 0.623);
  // margin-right: 20px;
  // margin-top: -4px;
  padding: 0 10px;
  select{
    // border: 1px solid green;
// padding-right: 24px;
// margin-right: -20px;
  }
  &:hover{
    // background-color: rgba(0, 128, 0, 0.424);

  }
  }
  .hamburger-react {
    display: none;
  }
  .navbar {
    .nav-link{
// border-right: 1px solid gray;

    }
    .navbar-collapse {
      .navButton {
       color: rgba(0, 128, 0, 0.625);
        display: flex !important;
        align-items: center;
        // .line{
        //   width: 10px;
        //   height: 10px;
        //   background-color: red;
        // }
      }
    }
    .space {
      display: none;
    }
   
  }
}
