.footerClass{
    color: white;
    background-color: var(--primary);
    border-radius: 50px 50px 0 0 ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 20px;
    font-family: "Amiri";
}
.links{
   a{
    text-decoration: none;
   }
   h5{
    text-align: right;
    color: yellow;
    font-weight: bolder;
   }
   .first p, .second p, .third p ,.fourth p     {
    // border: 1px solid red;
    text-align: right;
    margin-right: 10px;
    white-space: nowrap;
   }
  
}